[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-bdd = "*"
docker = "*"
python-consul = "*"
pyyaml = "*"
funcy = "*"
"fn.py" = "*"
pytest-parallel = "*"

[packages]

[requires]
python_version = "3.7"
